* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*  box1 */

.nav-logo {
    width: 100px;
    height: 50px;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;


}

.border {
    border: 1.5px solid transparent;


}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 */
.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-second {
    color: #ffffff;
    margin-left: 3px;
}

/* search bar */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;

    border-radius: 4px;
}

.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    color: #0f1111;
    width: 45px;
    padding-left: 5px;
    text-align: center;
    border: none;
}

.select-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: lighter;

}

.nav-search:hover {
    border: 2px solid orange;
    border-radius: 6px;
}

/* Languages box */

.nav-lan {
    display: flex;

}

.india-flag {
    width: 21px;
    height: 16px;

}

.lan-selector {
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: bold;
}

/* Signin */

.signin-first {
    font: 0.7rem;
}

.signin-second {
    font: 0.85rem;
    font-weight: 700;

}

/* return and order */

.return {
    font: 0.7rem;

}

.order {
    font: 0.85rem;
    font-weight: 700;
}

/* Cart */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {

    font-size: 0.85rem;
    font-weight: 700;
}

/* panell */


.panel {
    display: flex;
    height: 40px;
    background-color: #232f3e;
    color: white;
    padding-left: 11px;
    font: 14px;
    align-items: center;
    justify-content: space-between;
}

.fa-solid {
    margin-right: 3px;
}

.panel-all {
    display: flex;
    align-items: center;
}

.panel-option {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* shop image */

.shopping-deal {
    display: flex;
    align-items: center;
}

.shopping-deal img {
    width: 400px;
    height: 39px;
}

/*  hero section */

.hero-section {
    background-image: url("hero.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
    border-radius: 2px;
}

.hero-msg p a {
    color: #007185;
}

/* main content section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 2rem;
}


.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-image {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    color: #007185;
}

.box-content a:hover {
    color: orange;
}

/* footer */


/* fotter-pannel 1 */

.footer-pannel1 {
    background-color: #37475a;
    color: white;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-pannel1 :hover {
    background-color: #436287;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* footer-pannel 2 */
.footer-pannel2 {

    display: flex;
    justify-content: space-evenly;

    background-color: #232F3E;
    color: white;
    height: 300px;


}

ul {
    margin-top: 2rem;
}

ul p {
    font-weight: bold;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;

}

ul a:hover {
    /* color: #febd68; */
    text-decoration: underline;

}


/* footer-pannel 3 */
.footer-panel3 {
    background-color: #232F3E;
    border-top: 0.5px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;


}

.lan {
    color: #DDDDDD;
    border: 1px solid white;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 3px;
}

.lan p {
    padding: 5px;
}

.footer-flag {
    border: 1px solid white;
    margin-top: 10px;
    height: 30px;
    color: white;
    margin-left: 5px;
    border-radius: 3px;
}

.footer-flag p {
    padding: 5px;
}

/* footer panel 4 */

.footer-pannel4 {
    height: 156px;
    background-color: #131A22;
    font-size: 12px;


}

.pannel_4_1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;

}

.pannel_4_2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.footer-link a {
    display: block;

}

.big-ln {
    color: #DDDDDD;
}

.small-link {
    color: #999999;
}

.footer-pannel4 .big-ln:hover,
.small-link:hover {
    text-decoration: underline;
}

/* footer panel 5 */

.footer-pannel5 {
    height: 80px;
    font-size: 12px;
    background-color: #131A22;
    text-align: center;
    padding-top: 8px;
}

.link_pages a {
    margin-left: 7px;
}

.link_pages a:hover {
    text-decoration: underline;

}

.copyright {
    margin-top: 4px;
    color: #DDDDDD;
}